{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NBA TEAM PK</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'game/css/bootstrap.min.css' %}"  rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'game/css/cover.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">


</head>

<body>

<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="clearfix masthead">
                <div class="inner">
                    <h3 class="masthead-brand">NBA Team P.K.</h3>
                    <img src="{% static 'game/images/nba_logo.gif' %}">
                    <ul class="nav masthead-nav">
                        <li><a href="{% url 'game:play'%}">Play</a></li>
                        <li><a href="{% url 'game:players' 'all' 'PTS' 1%}">Players</a></li>
                        <li><a href="{% url 'game:teams' %}">Teams</a></li>
                        <li class="active"><a href="{% url 'game:search' %}">Search</a></li>
                    </ul>
                </div>
            </div>

            <div class="inner cover">

                <form name="searchForm" action="{% url 'game:search'%}" method="post" onsubmit="return checkSearchForm();">
                    {% csrf_token %}

                    <div class="input-group">
                            <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-user"></span>Player Name:</span>
                            <input type="text" class="form-control PLAYER" name="pname" placeholder="Player name">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">Go!</button>
                            </span>
                    </div>

                    <div id="alert" class="alert alert-info" style="display: none">
                    </div>

                </form>
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p>670 Project, designed by <a href="https://twitter.com/WelkinLan">@WelkinLan</a>.</p>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<script src="{% static 'game/js/bootstrap.min.js' %}"></script>
<script src="{% static 'game/js/play.js' %}"></script>
<script src="{% static 'game/js/jquery-ui-1.10.4.min.js'%}"></script>

</body>
</html>
